/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif; 
  font-size: 2.25rem;
}


.blog-header-logo:hover {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif; 
}

.display-4 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.categories a {
  font-weight: bold;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}

@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/* Blog posts */
.blog-post {
  margin-bottom: 4rem;
}

.blog-post-title {
  font-size: 2.5rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/* Footer */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.blog-footer p:last-child {
  margin-bottom: 0;
  padding: 1rem 0;
  text-align: center;
  justify-content: center;
}

.btn-signup {
  background-color: #0069d9;
  color: white;
}

/* Like button appearance */
.btn-like {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
  color: gray;
  cursor: pointer;
}

/* Remove default focus styles */
.btn-like:focus {
  outline: none;
  box-shadow: none;
}

/* Default heart icon color */
.btn-like i.fa-heart {
  color: gray;
}

/* Liked state (solid heart) */
.btn-like i.fa-solid.fa-heart {
  color: red;
}

/* Hover effect */
.btn-like i:hover {
  color: darkred;
}

